
html, body {
    padding: 0;
	margin: 0; 
	min-width: $min-viewport-width;
}

body {
	overflow-x: hidden;
}

body,
button,
input,
textarea {
	color: $color_body;
	font-family: $base-font !important; 
	line-height: 1.2em; 
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-feature-settings: 'liga'; 
	font-feature-settings: 'liga';
	font-weight: normal; 
} 

h1,
h2, 
h3,
h4,
h5,
h6 {
	font-family: $base-font;
	line-height: 1.2em; 
	clear: both;
    //font-weight: normal !important; 
	a {
		font-weight: 700;
		&:hover {
  		    color:$MountainMeadow !important;
  	    } 
	}
}

ul {
	li {
		a {
			font-family: $base-font;
			text-decoration: none;
		}
	}
}

p {
	font-family: $base-font;
	font-size: $font-size;
	color: $dove-gray;
	margin-top: 0;
	margin-bottom: .166em;
	line-height: 1.4285em;

	@media screen and (min-width: $tablet) {
		margin-bottom: 1.750em;
	}
}

h1,

.alpha-index {
	font-size: 25px;
	color: $white;
	font-family: $alternate;
	text-transform: capitalize;

	span {
		text-transform: lowercase;
		padding: 0px 25px;
	}

	@media screen and (min-width: $tablet-md) {
		font-size: 35px; 
	}

	@media screen and (min-width: $desktop) {
	    font-size: 45px; 
	}
}
.heading-small {
	font-size: 18px;
	color: #F44336;
	font-family: $alternate-font;
	text-transform: uppercase;
	padding-top: 15px;
}
.heading-black{
    font-size: 18px;
	color: #F44336;
	font-family: $alternate-font;
	text-transform: uppercase;
	padding-top: 15px;
}
.heading-gray {
	color: #424242;
	font-size: 20px;
	font-family: $alternate-font-medium;
	margin-top: 30px;
	@media screen and (min-width: $tablet-md) {
		font-size: 24px; /* 48px at #{$font-size} */
	}
}
.alpha {
	font-size: 1.7em; /* 40px at #{$font-size} */
	margin: 20px 0px;
	letter-spacing: letter-spacing( 20 );
	text-align: center;
    display: flex;
    justify-content: center;
	color: $monza;
	text-transform: uppercase;

	@media screen and (min-width: $tablet-md) {
		font-size: 2.213em; /* 48px at #{$font-size} */
	}

	@media screen and (min-width: $desktop) {
		font-size: 2.813em; /* 70px at #{$font-size} */
	}
}

h2,
.beta {
	font-size: 20px; /* 32px at #{$font-size} */
	margin:  0;

	@media screen and (min-width: $tablet-md) {
		font-size: 25px; /* 38px at #{$font-size} */
	}

	@media screen and (min-width: $desktop) {
		font-size: 32px; 
	}

}

h3,
.gamma {
	font-size: 20px; /* 32px at #{$font-size} */
	margin:  0;
	color:white;

	@media screen and (min-width: $tablet-md) {
		font-size: 25px; /* 32px at #{$font-size} */
	}

	@media screen and (min-width: $desktop) {
		font-size: 32px; /* 36px at #{$font-size} */
	}
}

h4,
.delta {
	font-size: 1.500em; /* 24px at #{$font-size} */

	@media screen and (min-width: $tablet-md) {
		font-size: 1.625em; /* 26px at #{$font-size} */
	}

	@media screen and (min-width: $desktop) {
		font-size: 1.875em; /* 30px at #{$font-size} */
	}
}

h5,
.epsilon {
	font-size: 1.250em; /* 20px at #{$font-size} */

	@media screen and (min-width: $tablet-md) {
		font-size: 1.375em; /* 22px at #{$font-size} */
	}

	@media screen and (min-width: $desktop) {
		font-size: 1.625em; /* 26px at #{$font-size} */
	}
}

h6,
.zeta {
	font-size: 1.125em; /* 18px at #{$font-size} */ 

	@media screen and (min-width: $tablet-md) { 
		font-size: 1.250em; /* 20px at #{$font-size} */
	}

	@media screen and (min-width: $desktop) {
		font-size: 1.375em; /* 22px at #{$font-size} */
	}
}

.beta-less {
	@media screen and (min-width: $desktop) { 
		font-size: 2.500em; /* 40px at #{$font-size} */
	}
}

@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon/icomoon.eot');
    src:url('/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.woff') format('woff'),
    url('/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal; 
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Roboto-Medium';  
	src:url('/fonts/Roboto-Medium.ttf');       
	font-weight: normal;
	font-style: normal;   
}  

@font-face {
	font-family: 'Roboto-Bold';  
	src:url('/fonts/Roboto-Bold.ttf');       
	font-weight: normal;
	font-style: normal;   
}   
 
@font-face {
	font-family: 'Roboto-Black';  
	src:url('/fonts/Roboto-Black.ttf');        
	font-weight: normal;
	font-style: normal;  
}   
 
   @font-face {
	font-family: 'Roboto-Regular'; 
	src:url('/fonts/bootstrap/Roboto-Regular.ttf');      
	font-weight: normal;
	font-style: normal;     
}   

 @font-face { 
	font-family: 'Roboto-Light'; 
	src:url('/fonts/bootstrap/Roboto-Light.ttf');     
	font-weight: normal;
	font-style: normal;   
}


.icon-Delete:before {  
  content: "\e926";
}
.icon-Hotel:before {
  content: "\e925";
}
.icon-Check:before {
  content: "\e923";
}
.icon-Cancel:before {
  content: "\e924";
}
.icon-Home_CereriAvion:before {
  content: "\e91f";
}
.icon-Home_Useri:before {
  content: "\e920";
}
.icon-Home_Vacante:before {
  content: "\e921";
}
.icon-Home_Visitor:before {
  content: "\e922";
}
.icon-Edit:before {
  content: "\e91d";
}
.icon-Plus:before {
  content: "\e91e";
}
.icon-ArrowDown:before {
  content: "\e900";
}
.icon-ArrowUp:before {
  content: "\e901";
}
.icon-Location:before {
  content: "\e902";
}
.icon-Phone:before {
  content: "\e903";
}
.icon-Email:before {
  content: "\e904";
}
.icon-Transport_Avion:before {
  content: "\e905";
}
.icon-Transport_Autocar:before {
  content: "\e906";
}
.icon-Send:before {
  content: "\e907";
}
.icon-Facebook:before {
  content: "\e908";
}
.icon-Close:before {
  content: "\e909";
}
.icon-Share:before {
  content: "\e90a";
}
.icon-Back:before {
  content: "\e90b";
}
.icon-Instagram:before {
  content: "\e90c";
}
.icon-View:before {
  content: "\e90d";
}
.icon-PhotoAlbum:before {
  content: "\e90e";
}
.icon-Orar:before {
  content: "\e90f";
}
.icon-ArrowLeft:before {
  content: "\e910";
}
.icon-ArrowRight:before {
  content: "\e911";
}
.icon-Cazare:before {
  content: "\e912";
}
.icon-Pasaport:before {
  content: "\e913";
}
.icon-Masa:before {
  content: "\e914";
}
.icon-Star:before {
  content: "\e915";
}
.icon-DropdownEnd:before {
  content: "\e916";
}
.icon-DropdownStart:before {
  content: "\e917";
}
.icon-Zoom:before {
  content: "\e918";
}
.icon-AlbumeFoto:before {
  content: "\e919";
}
.icon-GestionareClienti:before {
  content: "\e91a";
}
.icon-HomeSVG:before {
  content: "\e91b";
}
.icon-Oferte:before {
  content: "\e91c";
}

