@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


@mixin message($glyph: "\f05a", $color: $info)
{
    padding: 1em 1.618em 1em 3.631em;
    background: rgba( $color, .7 );
    margin-bottom: 2.618em;
    font-weight: normal;
    position: relative;
    color: #fff;
    text-shadow: none;

    &:before {
        font-family: 'FontAwesome';
        content: $glyph;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2.618em;
        background: rgba( darken( $color, 3% ), .7 );
        text-align: center;
        padding: 1em .618em;
        font-weight: normal !important;
        text-shadow: none;
    }

    a {
        color: #fff;
        text-decoration: underline;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    a.button {
        background: #fff;
        color: $color;
        font-size: .857em;
        padding: .202em .618em;

        &:hover,
        &:active {
            background: rgba(#fff,.8);
            color: $color;
        }
    }
}

@mixin placeholder() {
    &::-webkit-input-placeholder {
       @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
       @content;
    }

    &::-moz-placeholder { /* Firefox 19+ */
       @content; 
    }

    &:-ms-input-placeholder {  
       @content;
    }

    &::placeholder {  
       @content;
    }
}

// Prevents background from leaking outside of a specified property
@mixin background-clip( $value ) {
    -moz-background-clip: #{$value};
      -webkit-background-clip: #{$value}-box;
        background-clip: #{$value}-box; /* prevents bg color from leaking outside the border */
}

@mixin box-shadow( $shadow... ) {
    -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
        box-shadow: $shadow;
}

@mixin box-shadow( $shadow... ) {
    -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
        box-shadow: $shadow;
}

@mixin border-radius( $radius ) {
    -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
        border-radius: $radius;
}

@mixin text-size-adjust( $properties... ) {
    -webkit-text-size-adjust: $properties;
      -moz-text-size-adjust: $properties;
        -ms-text-size-adjust: $properties;
          -o-text-size-adjust: $properties;
            text-size-adjust: $properties;
}

@mixin appearance( $properties... ) {
    -webkit-appearance: $properties;
      -moz-appearance: $properties;
        -ms-appearance: $properties;
          -o-appearance: $properties;
            appearance: $properties;
}

@mixin transition( $properties... ) {
  -webkit-transition: $properties;
    -moz-transition: $properties;
      -ms-transition: $properties;
        -o-transition: $properties;
          transition: $properties;
}

@mixin transform( $properties... ) {
    -webkit-transform: $properties;
      -moz-transform: $properties;
          -ms-transform: $properties;
            -o-transform: $properties;
              transform: $properties;
}

@mixin perspective( $properties... ) {
    -webkit-perspective: $properties;
      -moz-perspective: $properties;
        -ms-perspective: $properties;
          -o-perspective: $properties;
            perspective: $properties;
}

@mixin transform-style( $properties... ) {
    -webkit-transform-style: $properties;
      -moz-transform-style: $properties;
        -ms-transform-style: $properties;
          -o-transform-style: $properties;
            transform-style: $properties;
}

@mixin transform-origin( $properties... ) {
    -webkit-transform-origin: $properties;
      -moz-transform-origin: $properties;
        -ms-transform-origin: $properties;
          -o-transform-origin: $properties;
            transform-origin: $properties;
}

@mixin backface-visibility($input) {
  -webkit-backface-visibility: $input;
     -moz-backface-visibility: $input;
      -ms-backface-visibility: $input;
       -o-backface-visibility: $input;
          backface-visibility: $input; 
}
@mixin transform-origin($input){
     -webkit-transform-origin: $input;
        -moz-transform-origin: $input;
         -ms-transform-origin: $input;
          -o-transform-origin: $input;
             transform-origin: $input;
}
@mixin perspective($input){
          -webkit-perspective: $input;
             -moz-perspective: $input;
              -ms-perspective: $input; 
               -o-perspective: $input;
                  perspective: $input;
}
@mixin transform-style($input){ 
      -webkit-transform-style: $input;
         -moz-transform-style: $input;
          -ms-transform-style: $input;
           -o-transform-style: $input;
              transform-style: $input;
}
@mixin animation($input){
            -webkit-animation: $input;
               -moz-animation: $input;
                -ms-animation: $input;
                 -o-animation: $input;
                    animation: $input;
}
@mixin appearance($input){
             -webkit-appearance: none;
                -moz-appearance: none;
                 -ms-appearance: none;
                  -o-appearance: none;
                     appearance: none;
}
