// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 		     'Roboto-Regular';
$alternate-font: 	     'Roboto-Light';  
$alternate-font-medium:  'Roboto-Medium';  
$alternate-font-bold: 	 'Montreal Bold';  

$alternate: 	         'Marguerite';   

$font-size:          16px;

// base color scheme
$body-background: 	 #ffffff;
$color_body: 		 #333333;
$color_links: 		 #2c2d33;
$color_border:		 #4f4f4f;
$error: 			 #FA8081;
$success: 			 #0f834d;
$info: 				 #3d9cd2; 

// Black colour pallete
$black:              #000000;


$Persian-Indigo:     #4A148C; 

$Seance:              #9C27B0;

// White colour pallete
$white:              #ffffff;

// Red colour pallete
$monza:              #df0024; 
$red-devil:          #7F0015;
$alizarin-Crimson:   #df1c3b;

// Orange colour pallete
$piper:              #D85B24;
$Zesta:              #E67E22;   


$MountainMeadow:     #14CC88;   

//Gray color pallete
$tundora:            #434343; 
$gray:               #808080;
$dove-gray:          #666666;
$silver:             #C0C0C0; 
$Boulder:            #757575; 
$gray-general:       #cccccc;  
// Red color pallete
$geraldine:          #FA8081;
$Mercury:            #E9E9E9;

$Dodger-Blue:         #2095f2;
$Torea-Bay:           #0c46a0;
$Caribbean-Green:     #00bfa5;
$yellow:              #FFFF00;

$whisper:             #ece9f2;

//Main navigation hamburger layout
$main-nav-ham-bgk: $white; 

//Main navigation layout

//Main navigation items layout
$main-nav-item-divider-weight:               1px;
$main-nav-item-divider-style:                solid;
$main-nav-item-divider-color:                $tundora;

//Main navigation item options layout
$main-nav-item-option-font-size:             $font-size;
$main-nav-item-option-font-color:            '';
$main-nav-item-option-font-weight:           400;
$main-nav-item-option-text-align:            center;
$main-nav-item-option-text-transform:        uppercase;
$main-nav-item-option-letter-spacing:        1px;

//Main navigation item options active layout
$main-nav-item-active-option-color:          '';
$main-nav-item-hover-option-color:           '';

//Main navigation dropdown layout
$main-nav-dropdown-bgk:                      darken( $white, 10% );
$main-nav-dropdown-divider-weight:           5px;
$main-nav-dropdown-divider-style:            solid;
$main-nav-dropdown-divider-color:            '';
$main-nav-dropdown-caret-width:              5px;
$main-nav-dropdown-caret-color:              '';

// General layout
$min-viewport-width: 320px;

// layout sizes
$vspacing: 			 line-height( 28, 16 );
$heading-vspacing:   line-height( 44, 42 );
$fields-vspacing:    line-height( 20, 16 );
$desktop-lg:	     1600px;  
$desktop:			 1200px;
$tablet-md:			 992px;
$tablet:			 768px;
$handheld:			 568px;
$phone-sm:			 468px;