/* LOgin */
.btn.btn-danger.small-x {
    margin: 10px 0px;
    padding: 7px 12px;
    font-size: 14px;
} 
.panel-default {
	box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28); 
	background: white;
	margin: 30px 0px 50px;
	.panel-body {
		padding: 35px;
	}
	.form-horizontal .form-group {
		margin-left: 0px;
		margin-right: 0px;
		.right {
			text-transform: uppercase;
			font-size: 20px;
		}
		label {
			color: #F44336; 
		}
	}
}
 .dela {
    font-size: 14px; 
    display: block;
    text-align: left;
    padding-bottom: 8px;
 }
/*--Menu admin--*/
.inner-menu-wrap { 
    background-color: #F44336;
    height: 55px;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: -2px 3px 10px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 10px -3px rgba(0,0,0,0.75);
    #wrapper {
        padding-left: 0;
        @include transition(all 0.9s ease); 
        &.show-menu {
           .js-onebyone {
             @include transition(all 0.9s ease); 
        	float: left; 
                &.small-icn {
                    font-size: 28px;
                    padding: 0px 8px 0px 10px;
                    left: -5px;
                    top: -1px;
                }           
        	} 
            .menu-outer {
                display: none;
            }
            .open-menu { 
                display: none;  
            }
            .close-menu {
                moz-animation-name: fadeIn; 
                -webkit-animation-name: fadeIn;
                -ms-animation-name: fadeIn;
                animation-name: fadeIn;
                -moz-animation-duration: 1s;
                -webkit-animation-duration: 1s;
                -ms-animation-duration: 1s;
                animation-duration: 1s;
                -moz-animation-timing-function: ease-in-out;
                -webkit-animation-timing-function: ease-in-out;
                -ms-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -moz-animation-fill-mode: forwards;
                -webkit-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                animation-fill-mode: forwards;  
                color: white;
                padding: 5px;   
                font-size: 29px;
                font-weight: bold;
                visibility: visible;
                @include transition(all 0.9s ease); 
                -webkit-transition-delay: 29s; /* Safari */
                 transition-delay: 29s;
                &:hover {
                    @include transition(all 0.10s ease); 
                }
            } 
            .second-wrap {
                padding-top:30px;
            }
           .icon {
                &.user {
                    padding-bottom: 15px;
                    a span {
                        color: $Dodger-Blue;
                    } 
                    i.icon-menu {
                        border-radius: 50px;
                        background-color: $Dodger-Blue;
                        color: $white;
                        width: 100%;
                           margin: 0px 20px 0px 10px;  
                           padding: 8px;

                    }
                }
            }
            .edit-user-icon {
                float: left;
                padding: 10px 8px;
                width: 75px;
            }
            .edit-user {
                padding: 15px 0px;
                width: 135px;
                float: left;
                border-bottom: 2px solid #f5f5f5;
                @media screen and (min-width: $screen-md) {
                    width: 180px;
                }
            }
        }
        &.toggled {
            .edit-user {
                display: none;
            }
            .sidebar-nav li a.dropdown-toggle {
            	display: none;
            }
            .sidebar-nav li.icon-Edit {
            	display: none;
            }
            .nav > li > a {
                padding: 22px 15px;
            } 
            .logo {
                display: none;
            }
            .close-menu {
                display: none;
            }
            .sidebar-brand {
                float: left;
                i.open-menu {
                    margin-left: 0px;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    padding: 18px 23px;
                    @include transition(all 0.1s ease); 
                    &:hover {
                        color: yellow; 
                        @include transition(all 0.1s ease); 
                    } 
                }
            }
            #sidebar-wrapper {
                top: 56px;
                width: 75px;
                border-right: 1px solid $Mercury;
                background-color: white;
            }
            .sidebar-nav li a {
                display: block;
                text-decoration: none;
                color: #999999;
                font-size: 13px;

            }
            i.icon-menu {
                float: right;
                margin-left: 0;
                padding: 0;
            } 
            i {
                float: right;
                margin-left: 147px;
                padding: 0;
                 width: 36px;
                font-size: 24px;
            } 
        }
        .logo {
            background-color: #F44336;
            padding: 45px 20px;
            img {
                max-width: 100%;
            }
        }
        .js-onebyone-link {
            webkit-transition: all .5s ease-out;
            transition: all .5s ease-out;
            display: inline-block;
            color: black;
            font-family: 'Roboto-Medium';
            &:hover {
                color: #F44336;
                transition: all .5s ease;
                webkit-transition: all .5s ease;
                transform: scale(1.2) !important;
            }
        }
        .js-onebyone {
            transform: scale(0);
            opacity: 0;
            transition: all .3s ease-out;
            &.small-icn {
	            font-size: 38px;
	            left: -6px;
                top: -6px;
            }
            &:hover {
                color: #F44336;
                transition: all .5s ease;
                opacity: 1;
                transform: scale(1.1) !important;
                background-color: transparent;
            }
            &.show {
               opacity: 1;
               transform: scale(1);
            }
        }
    }
    .dropdown-menu {
        position: relative;
        width: 100%;
        border: none;
    }
    .show-menu {
        .sidebar-brand {
            position: absolute;
            left: 217px;
            z-index: 999999;
        }
        .menu-inner-wide {
            webkit-transition: all 0.4s ease; 
            transition: all 0.4s ease;
            z-index: 1;
            background-color: rgba(51, 51, 51, 0.7);
            height: 100vh;
            width: 100%;
        }
    }
    .navbar-nav {
        width: 100%;
        margin:0;
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus,
    .nav .open > a:active {
        color: #F44336;
        background-color: white;
    }
    .navbar-nav > li {
        float: none;
    }
    .nav > li > a {
        padding: 10px 15px;

    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 255px;
    height: 100%;
    margin-left: -250px;
    background-color: $white;
    @include transition(all 0.4s ease);
    .dropdown-menu > li > a {
        padding: 2px 65px ;
    }
}

/* General Menu right */
.inner-menu-wrap {
    #wrapper {
        .curent__item__menu {
    	    a {
            	background-color: rgba(244, 67, 54, 0.2);
            	border-right: 2px solid #F44336;
            	&:hover {
            		background-color: rgba(244, 67, 54, 0.2);
            	}
            }
            i {
                color: #F44336;
            }
            span.js-onebyone-link {
                color: #F44336;
            }
        }
    }
}
.adm-margin {
    margin: 10px 0px 50px;
    .bootstrap-select {
        width: 100%;
        .btn-group.open .dropdown-toggle {
            box-shadow: none;
        }
        .btn-default { 
            border: medium none;
            border-bottom: 1px solid #cccccc;
            &:hover{
                background-color: white;
            }
        }
        .dropdown-menu .divider{
            display: none;
        }
        .dropdown-menu li a.opt {
            padding-left: 20px;
        }
        .btn-default.dropdown-toggle:focus {
            background-color: white;
            border: medium none;
        }
        .dropdown-toggle:focus {
            outline: 0 !important;
            outline-offset: 0;
        }
        .dropdown-menu li {
            width: 100%;
        }
        .btn {
            padding-left: 0;
            padding-right: 0;
            &:active{
                box-shadow: none !important;
            }
        }

        span.filter-option{
            color: #333333;
            font-weight: normal;
            font-family:  "Roboto-Regular" ;
        }
    }
    .btn-group.open .dropdown-toggle{
        box-shadow: none;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100%;
    }
    .open > .btn-default.dropdown-toggle {
        background-color: white;
    }
    @media screen and(min-width: $desktop){
        margin: 10px 0px 50px;
    }
        .btn-danger {
            font-size: 20px;
            text-transform: uppercase;
            padding: 3px;
            margin: 10px 0px; 
        } 
}
.period-offer {
   width: 100%;  
    tr.tr-period td:last-child {
      width: auto;
    }
    tr.tr-period td:nth-child(2) {
        top:0;
    }
}
.admin-offer {
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    height: 560px;
    overflow-x: hidden;
    padding: 25px;
    background-color: white;
    margin: 10px 0px 40px;
    max-width: 1010px;
    margin: 0px auto;
    @media screen and (min-width: $desktop-lg){
        height: 760px;
        overflow-x: hidden;
    }
    label.error {
        color: red;
    }
    &.admin-offer-simple{
        height:auto;
    }
    form {
        margin-bottom: 0;
    }
    label {
        color:#999999;
    }
    textarea {
    resize: none;
}
    label.red{
        color: #F44336;
    }
    input{
        width: 100%;
    }
    .m-right {
        margin-right: 20px;
    }
    .right-btn {
        input {
            font-size: 15px !important;
            padding: 5px;
        }
        .btn.gray{
            background-color: gray;
            color: white;
            border-radius: 0;
        }
    }
    input.right-btn{
        width: auto !important;
    }
    .small-btn {
        padding: 11px;
        font-size: 17px;
        top: 2px;
    }
    .small-btn2 {
        padding: 7px 10px;
        font-size: 14px;
        top: 0px;
    }
    
    .filed-adm input,
    .filed-adm textarea,
    .filed-adm select {
        border: none;
        border-bottom: 1px solid #cccccc;
        padding: 0;
        width: 100%;
        
    }
    .dropzone {
        border-style: dotted;
        margin-top: 15px;
        padding: 0;
        .dz-preview {
            .dz-details {
                z-index: 1;
            }
            .dz-image {
                z-index: 0;
            }
        }
    }
    .contact {
        margin-top: 0;
    }
    .contact .box {
        box-shadow: none;
        padding: 0;
        .input__field {
            padding-top: 13px;
            color: #333333;
            margin-bottom: 5px;
        }
    }
    .form-control {
        box-shadow: none;
    }
    i.icon.delete {
        color: #cccccc;
        background-color: #424242;
        opacity: 1 !important;
        border-radius: 50px;
        &:before {
            font-family: 'icomoon';
            content: "\e909";
        }
    }
    .ui.multiple.dropdown > .label {
        background-color: #EEEEEE;
        box-shadow: none;
        border-radius: 50px;
        color: gray;
        font-size: 13px;
        font-weight: normal;
        padding: 7px 15px;
    }
    .ui.selection.dropdown {
        border:none;
        border-bottom: 1px solid #B9C1CA;
        box-shadow: none;
        &:hover{
            box-shadow: none;
        }
    }
    .ui.selection.active.dropdown .menu {
        border-color: transparent;
    }
    .ui.dropdown .menu > .item {
        font-size: 13px;
        border-top: none;
    }
    .period-col {
        border: 1px solid #cccccc;
        padding: 10px;
        form{
            margin-bottom: 5px;
        }
    }
}

.albums-admin {
   img {
    width: 100%;
   }
   .btn-danger {
        font-size: 15px;
        text-transform: uppercase;
        padding: 6px;
        margin: 10px 0px;
    }
}
.add-adm-days{
    input {
        height: 30px;
    }
}
.box-adm {
    padding: 25px;
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    min-height: 176px;
    &.avion {
        min-height: 245px;
    }
    p {
        margin-bottom: 0px;
    }
    .big {
        font-size: 44px;
        padding: 25px 0px;
        display: inline-block;
    }
    .right-cont{
        float: right;
        span {
            font-size: 105px;
            color: #EF9A9A;
        }
    }
    .left-cont {
        float: left;
        .top {
            top: -19px;
            position: relative;
            font-size: 22px;
        }
    }
    .text-right {
        text-align: right;
    }

    .lists {
        padding: 13px;
        border-bottom: 1px solid #cccccc;
    }

    
    .red-box {
        background:#EF9A9A;
        color: white;
    }

}


.subscribers {
    &.cover-middle{
        background-image: none;
        margin:0;
        padding: 0;
        float: left;
        .input-subscribe{
            margin: 20px 0px;
            input{
                border: 1px solid #cccccc;
            }
        }
    }

 table {
    display: block;
    padding: 15px;
        td{
            width: 22%;
            border-bottom: 1px solid #cccccc;
        }
        th {
            color: #747474;
            font-weight: normal;
            padding-bottom: 20px;
        }
        tr {
           border-bottom: 1px solid #cccccc;
        }
        form{
            margin-bottom:0;
        }
    }
}
.news {
    h4.panel-title a:hover {
        color: #F44336 !important;
    }
    .panel-default .panel-body {
        padding: 20px;
    }
    .right {
        float: right;
    }
    span.title-news{
        font-size: 20px;
        margin-bottom: 20px;
        display: block;
    }
    .news-photos {
       height: 370px;
       overflow:hidden;
        img {
         height: 100%;
        }
    }
}
.panel-news-550 {
    max-width: 550px;
    margin:0px auto;

    p {
        margin-bottom: 0;
        padding: 2px 0px;
    }
    span.small-pr-offer {
        font-size: 12px;
        color: #BDBDBD;
        font-family: 'Roboto-Bold';
        position: relative;
        top: -7px;
    }
    .head-news {
      margin: 7px 0px 2px;
      padding: 0;
      font-family: 'Roboto-Bold';
      font-size: 16px;
    }
    .hero-clear {
        height: 320px; 
        position: relative;
        .news-type-offer {
            position: absolute;
            top: 0;
            background-color: #F44336;
            text-transform: uppercase;
            width: auto;
            margin-right: 30px;
            padding: 7px 11px; 
            text-align: center;
            color: white;
            font-size: 16px;
            font-family: 'Roboto-Bold';
        }
    }
    @media screen and (min-width: 550px){
        .hero img {
            width: 100%;
            height: 100%;
        }
        .hero {
            height: 170px;
            overflow: hidden;
            margin-bottom: 0;
        }
        
    }
    @media screen and (min-width: $screen-sm){
        .hero-clear {
            .news-type-offer {
                width: 84.333333%;
            }
        }
    }
}
.newsletter { 
    padding: 0;
    form {
        margin-bottom: 0;
    }

    .bootstrap-select.btn-group .dropdown-toggle .filter-option{
        padding-bottom: 17px;
        color: #999999;
    }
    .offers-selected {
        border-bottom: 1px solid #cccccc;
    }
    #offer-list {
        margin-top: 10px;
        button {
            margin: 5px 5px;
            font-size: 18px;
            background-color: #E0E0E0; 
            padding: 7px 10px;
            color: #616161;
            font-size: 14px;
            border-radius: 50px;
            position: relative;
            &:after {
                content: "\e91e";
                font-family: "icomoon";
                color: white;
                padding: 3px;
                background-color: #616161;
                font-size: 10px;
                border-radius: 10px;
                margin-left: 6px;
                position: relative;
                z-index: 2;

            }
            &.selectedOffer {
                background-color: #4CAF50;
                color: white;
                position: relative;
                &:after {
                    content: "\e923";
                    background-color: #4CAF50;

                }
            }
        }
    
    }
    .send2 {
        text-transform: uppercase;
        font-size: 20px;
    }
 
    #offers-selected { 
        div.off-selected {
            margin: 10px 5px;
            float: left;
            font-size: 14px;
            position: relative;
            cursor: pointer;
                &:after {
                content: "\2212";
                font-family: "icomoon";
                color: white;
                padding: 1px 5px;
                font-weight: bold;
                background-color: #616161;
                font-size: 15px;
                border-radius: 19px;
                margin-left: 6px;
                position: relative;
                z-index: 2;
                display: inline-block;

            }
        }
    }
    .form-horizontal .form-group{
        margin-left: 0;
        margin-right: 0;
    }
    .inner-news-padd {
        padding: 20px;
    }
    .inner-newsletter {
        background-color: #F44336;
        p {
          margin-bottom: 0px;
          padding: 20px;
        }
    }
}


.menu-outer .list-inline .dropdown-offer { 
    li {
        padding:0px;
        a {
            color: #999999;
            padding: 5px 14px;
            width: 100%;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .caret {
      top: 7px;
      color: rgba(255, 255, 255, 0.70);
      right: 0;
    }

    .dropdown-menu {
        width: 150px;
        position: absolute;
        border-radius: 0px;
    }
    .btn-inner-menu {
        width: auto;
        font-size: 15px;
    }
}
 @media screen and (min-width: 1250px) {
.menu-outer{
    margin-left: 85px;
}
    .navbar-offer {
        .navbar-header {
            display: none;
        }
    }
}
  @media screen and (max-width: 1250px) {
    .menu-outer {
        left: 95px;
        .categ-btn {
            &:hover,
            &:focus{
                background-color: #F44336;
            }
        }
        .list-inline {
            li {
                display: block; 
            }
        }
    }

.navbar-offer {

   .navbar-header {
        float: none;
        width: 190px;
        margin: 5px 0px;
        button {
            font-size: 17px;
        }
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 2px;
        background-color: #F44336;
        border-top: 1px solid rgba(255,255,255,0.4);
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-toggle {
        padding: 9px 35px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    }
} 

.menu-outer {
    li.subscribe_curent {
        padding: 18px 0px;
        margin-left: 15px; 
    }
}
  
.input-group-addon {
    background-color: rgba(55,55,55, 0.1);
    border-radius: 0px;
    border:0px;
    position: relative;
    &:before {
        font-family: 'icomoon';
        content:"\e900";
        font-size: 20px;
        color: #999999;
    }
}

.fixed-footer {
    position: absolute;
    right: 0;
    background: white;
    margin: 0px auto; 
    left: 0;
    bottom: -75px;
    width: 100%;
    right:0; 
    max-width: 1010px;
    z-index: 1;
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    &.edit{
        bottom: -74px;
        .right-btn {
            margin-bottom: 20px;
        }
    }
    .relative-footer {
        max-width: 1010px; 
        position: relative;
        margin: 0px auto;
    }
    button.gray {
        background-color: #cccccc;
        &:hover{
            background-color: #666666;
        }
    }
}
.toggled {
    .designed-admin {
        display: none;
    }
}
.designed-admin {
    position: fixed !important;
    bottom: 0;
    left: 23px;
    .designed {
        p {
            display: inline-block;
            font-size: 14px;
        }
        .powered {
            display: inline-block;
            font-size: 14px;
        }
    }
}
@media screen and (max-width: $screen-md){ 
  .fixed-footer {
    position: absolute;
    bottom: -25px;
  }
}

@media screen and (min-width: $screen-md){
    .important {
        position: relative;
        top:-1px;
    }
}
@media screen and (min-width: $desktop-lg){
    .fixed-footer {
        position: absolute; 
        bottom: -70px;
        background-color: white;
        z-index:1;
        box-shadow: none;
        height: auto;
        border-top: 1px solid #cccccc;
        box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
        &.edit {
            padding-bottom: 15px;
            box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
            border-top: 0px;
            bottom:-70px;
            .right-btn {
                margin-bottom: 0px;
            }
        }
    }
    .adm-offer-height {
        height: auto;
    }
}
.table-condensed {
    .disabled {
        background-color: rgba(55, 55, 55, 0.1);
        color: white;
        border: 1px solid white;
        cursor: default;
    }
    td {
        cursor:pointer;
    }
    .active {
        background-color: #F44336;
        cursor: pointer;
        color: white;
    }
}