.main-footer {
    background-image: url(/images/footer-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    padding: 50px 0px;
    ul li {
        display: block;
        color: white;
        margin-bottom: 14px;
        a {
            color: white;
            font-family: $alternate-font-medium;
            &:hover {
                border-bottom: 2px solid #FFAA3F; 
                span {
                    color: #FFAA3F; 
                }
            }
        }
    }
    .layer-black {
        margin: 0;
        background-color: rgba(55, 55, 55, 0.8); 
    }
    .main-footer-content {
        position: relative;
        z-index: 1;
        .left {
            padding-left: 40px;
        }
        img {
            max-width: 295px;
        }
        span {
            font-size: 22px;
            padding-right: 20px;
            top: 5px;
            position: relative;
        }
        @media screen and (min-width: $screen-md) {
            .left-content {
                padding: 20px 0px 0px 30px; 
            }
        }
        ul li.icons { 
            display: inline-block;  
            a {
                text-decoration: none;
                &:hover {
                   border-bottom: none;
                }
            }
            span {
                font-size: 37px;
            }
        }
    }
} 

.designed {
    padding: 7px 0px;
    p {
        display: inline-block; 
        margin-bottom: 0;
        font-weight: bold;
        font-family: $alternate-font; 
    }
    .powered {
        color: #666666;
        font-size: 16px;
        img {
            max-width: 24px;
        }
        &:hover {
          color: #F44336;
        }
    }
}
@media screen and (max-width: $screen-md) {
   .main-footer .main-footer-content {
        img {
            max-width: 190px;
        }
    }
}
@media screen and (max-width: $screen-sm) {
   .main-footer .main-footer-content {
        .line { 
            border-top: 1px solid rgba(255,255,255,0.2);
            padding-top: 25px;
        }
    }
}