/**
 * Forms
 */
$hint: #009587;
$turqoise: #F34235;
$cornflower-blue: #F34235;
$tundora: #009587;
$electric-violet: #FFAA3F;
$snappy:  cubic-bezier(0.694,  0.048, 0.335, 1.000);

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes color-1 {
  0% {
    background-color: #F34235;
  }
  100% {
    background-color: #009587;
  }
}

::selection {
  background: $cornflower-blue;
  color: white;
  text-shadow: none;
}

button.btn-inner-menu {
	background-color: transparent;
	padding: 0;
	color:#757575;
	text-transform: uppercase;
	font-size: 16px;
	width: 135px;
	&:hover{
		background-color: #F44336;
		color: white;
	}
	a {
		width: 135px;
		position: relative;
	}
	.caret {
		position: absolute;
		right: 15px;
        top: 25px;
	}
}
.right-btn {
	float: right;
	text-transform: uppercase;
	font-size: 16px; 
}
div.cs-select {
	z-index: 2;
}
::-webkit-selection{
  background: $cornflower-blue;
  color: white;
  text-shadow: none;
}

.search-wrapper {
  max-width: 500px;
  margin: 0px auto;
}

.field-container {
  position: relative;
  padding: 0;
  margin: 0; 
  border: 0;
  padding-bottom: 20px;
}

.icons-container {
    position: absolute;
    top: 3px;
    right: 0px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 4px;
  left: -4px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  transform: translateX(-200%);
  border-radius: 50%;
  transition: opacity 0.25s ease, transform 0.43s $snappy;
  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 2px solid transparent;
    border-top-color: $cornflower-blue;
    border-left-color: $cornflower-blue;
    border-bottom-color: $cornflower-blue;
    transition: opacity 0.2s ease;
  }
  .x-up {
    position: relative; 
    width: 100%;
    height: 50%;
    &:before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 3px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(-45deg);
    }
  }
  .x-down {
    position: relative;
    width: 100%;
    height: 50%;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(-45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      right: 1px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue; 
      transform: rotate(45deg);
    }
  }
  .is-type & {
    &:before {
      opacity: 1;
      animation: spin 0.85s infinite;
    }
    .x-up {
      &:before, &:after {
        animation: color-1 0.85s infinite;
      }
      &:after {
        animation-delay: 0.3s;
      }
    }
    .x-down {
      &:before, &:after {
        animation: color-1 0.85s infinite;
      }
      &:before {
        animation-delay: 0.2s;
      }
      &:after {
        animation-delay: 0.1s;
      }
    }
  }
}

.icon-search {
  position: relative;
  top: 8px;
  left: 2px;
  width: 50%;
  height: 50%;
  opacity: 1;
  border-radius: 50%;
  border: 3px solid mix(gray, white, 95%);
  transition: opacity 0.25s ease, transform 0.43s $snappy;
  &:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 4px;
    border-radius: 3px;
    transform: rotate(-45deg);
    height: 10px;
    background-color: mix(gray, white, 85%);
  }
}

.field {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
  background: white;
  transition: all 0.4s ease;
  &:focus {
    outline: none;
    + .icons-container {
      .icon-close {
        opacity: 1;
        transform: translateX(0);
      }
      .icon-search {
        opacity: 0;
        transform: translateX(200%);
      }
    }
  }
}  
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 9px 0px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 0.9em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
@media screen and(min-width: $screen-sm) {
	.field-container {
	  padding-bottom: 90px;
	}
}
.icon {
	color: #ddd;
	font-size: 150%;
}
form {
	margin-bottom: 1.618em;
}

button,
input,
select,
textarea {
	font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle; 
	line-height: 1;
	&:focus {
		outline: 0 none;
	}
}

a {
	color: $black;
	&:focus,
	&:active{
		outline:0;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	font-family: $alternate-font-medium !important;
	font-weight: 400;
	border: 0;
	background-color: #F44336;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	padding: 15px;
	text-decoration: none;
	text-align: center;
	text-shadow: none;
	display: inline-block;
	outline: 0 none;
	-webkit-font-smoothing: antialiased;
	position: relative;
	@include appearance( none );
	@include border-radius( 0 );
	@include transition( all .3s ease );

	&:focus,
	&:hover,
	&:active {
		outline: 0 none;
		background-color: #FFAA3F; 
		-webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
	}

	&:hover {
		color: #fff;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		@include transition( all .3s ease );
	}

	&.added {
		&:after {
			content: "\f00c";
			margin-left: .53em;
		}
	}

	&.small {
		padding: .53em .857em;
		font-size: .857em;
	}

	&.disabled,
	&:disabled {
		cursor: not-allowed;
	}

	&.btn-has-arrow {
		padding-left: 1.077em;
		padding-right: 1.077em;

		&.btn-narrow-edge {

			.sch-icon {
				margin-left: .962em;
			}
		}

		&.has-arrow-small {
			@media screen and (max-width: $phone-sm) {
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
	.sch-icon {
		font-size: .538em;
		margin-left: 1.875em;
	}
}

.btn-block {
	display: block;
}

.btn-inline-block {
	display: inline-block;

	&.btn-margin-top-3 {
		margin-top: .188em;
	}

	&.btn-margin-top-15 {
		margin-top: .938em;
	}

	&.btn-margin-top-17 {
		margin-top: 1.063em;
	}

	&.btn-margin-top-20 {
		margin-top: 1.250em;
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; 
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	@include appearance( none );
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

  
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select,
.input-text {

	&:focus {
		outline: 0 none;
	}

	&.error {
		border-color: $error;
	} 
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: .857em;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	line-height: 1.3333;
	height: auto;
}

label {
	text-align: left;
	display: block;
	font-weight: normal;
	margin-bottom: 0;
	display: inline-block;
	color: $Dodger-Blue;
	font-style: 15px;  
}

a {
	text-decoration: none;
}

select {
	padding: 0.418em;
}

label.inline {
	input {
		width: auto;
	}
}

fieldset {
	padding: 0;
	border: 0;
	margin-bottom: 1.618em;

	legend {
		font-weight: 700;
	}
}

.error-message,
.success-message,
.required-field {
	display: block;
}

.error-message,
.success-message {
	padding: .313em .938em;
	border: 2px solid transparent;
	margin-top: .625em;
	margin-bottom: .125em;
}

.error-message, 
.error {
	    position: relative;
	    display: block;
	    width: 100%;
	    padding: 0px 5px;
	    background-color: $Dodger-Blue;
	    font-size: 12px;
	    color: red;
	
}

.error-message {
	border-color: $error;
}

.success-message,
.success {
	color: $success;
}

.success-message {
	border-color: $success;
}

.required-field {
	font-size: $font-size - 2px;
}

/**
 * Custom select customization
 */
.custom-select {
	position: relative;

	select {
		font-size: $font-size - 4px;
		cursor: pointer;
		padding: 0 0.350em;
		margin: 0;
		line-height: 1;
		color: $color_body;
		height: 40px;
		border: medium none;

		option {
			padding: 0;
		}

		&::-ms-expand {
		    display: none;
		}
	}

	.custom-select-label {
		font-size: $font-size;
	    position: absolute;
	    display: block;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    cursor: pointer;
	    pointer-events: none;
	    padding: .750em .625em;
	    text-align: center;
	    overflow: hidden;
	    background-color: $white;
	    border: 2px solid $gray;
	    text-align:left;

	    &.is-selected {

	    	.custom-select-label-text {
				font-style: normal;
	    	}
	    }

	    .custom-select-label-text,
	    .custom-select-arrow {
	    	background-color: $white;
	    	display: block;
	    }

	    .custom-select-label-text {
	    	position: relative;
	    	width: 100%;
	    	height: 100%;
	    	color: $color_body;
	    	overflow: hidden;
	    	text-overflow: ellipsis;
	    	white-space: nowrap;
	    	line-height: 1;
	        font-size: $font-size - 4;
	        font-style: italic;
	    }

	    .custom-select-arrow {
	    	font-style: normal;
	    	width: 25px;
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	padding: 5px;
	    	display: block;
	    	line-height: normal;
	    
			&:before {
			    content: "\e90a";
			    font-family: 'icomoon';
				display: inline-block;
				font-size: 7px;
				color: $gray;
			}
	    }
	}
}

@media screen and (min-width: $phone-sm) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		font-size: 1.125em;

		&.btn-medium {
			font-size: 1.125em;
		}
	}
}

@media screen and (min-width: $tablet) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		font-size: 1.250em;

		&.btn-medium {
			font-size: 1.250em;
		}
	}
}

@media screen and (min-width: $tablet-md) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		font-size: 1.500em;
	}
}

@media screen and (min-width: $desktop) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		font-size: 1.625em;
	}
}

/**
 * Lists
 */

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		&.hover,
	    &.active,
	    &.active {
			outline: 0; 
		}
    }
}
/**
 * Buttons 
 */
button {
  	&.orange-btn {
  	    //background-color: $Orange-Peelsolid;
  	    text-transform: uppercase;
		padding: 0px;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		padding: 12px 32px; 
  	    &:hover{
  	    	//background-color: $Dodger-Blue;
  	    }
  	}	
}

	.orange-btn {
        text-transform: uppercase;
		padding: 0px;
		display: inline-block;
		font-size: 18px;
		font-weight: bold; 
		a {
		    color: $white;
		    padding: 12px 32px;
		  //  background-color: $Orange-Peelsolid; 
		    &:focus,
			&:hover,
			&:active {
			  //  background-color: $Dodger-Blue;
	            color: $white;
			}
		}
	}

@media screen and (max-width: $tablet) {
	.orange-btn {
       // background-color: $Orange-Peelsolid; 
        text-transform: uppercase;
		padding: 0px;
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		a {
		   padding: 12px 12px; 
		}
	} 
	.input {
	   width: 100%;
    }
}

//Inputs FORM eFFECTS
/* Kaede */
.textarea-contact {
	.input__label-content.input__label-content--kaede{
		height: 160px;
	}
}
.input--kaede {
	display: block;
	overflow: hidden;
	background: $white;
}

.input__field--kaede {
	position: absolute;
	top: 0;
	right: 100%;
	width: 60%;
	height: 100%;
	background: #fff;
//	color: $Dodger-Blue;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--kaede {
	z-index: 10;
	display: block;
	width: 100%;
	text-align: left;
	cursor: text;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


.input__field--kaede:focus,
.input--filled .input__field--kaede {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.input__field--kaede:focus + .input__label--kaede,
.input--filled .input__label--kaede  {
	-webkit-transform: translate3d(60%, 0, 0);
	transform: translate3d(60%, 0, 0);
	pointer-events: none;
}

@media screen and (max-width: 34em) {
	.input__field--kaede:focus + .input__label--kaede,
	.input--filled .input__label--kaede  {
		-webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		pointer-events: none;
	}
} 

.yellow-btn {
	background-color: yellow;
	border-radius: 100px;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
	span {
		color: #999999;
		font-size: 19px;
	}
	&:hover,
	&:focus,
	&:active {
		background-color: #F44336;
		span {
			color: white;
		}
	}
}
.btn-hotel{
	background-color: transparent;
	&:hover,
	&:focus,
	&:active{
		background-color: transparent;
	}
	.icon-Delete{
		color: #999999;
		&:hover {
			color: #F44336;
		}
	}
}







.cmn-toggle 
{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label 
{
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label 
{
  padding: 2px;
  width: 50px;
  height: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after 
{
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before 
{
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after 
{
  top: 4px;
  left: 5px;
  bottom: 4px;
  width: 14px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label 
{
  background-color: #F44336;
}

input.cmn-toggle-round-flat:checked + label:after 
{
  margin-left: 45px;
  background-color: #F44336;
   top: 4px;
  left: -14px;
  bottom: 4px;
  width: 14px;
}




