.item2 {
    float: left;
    position: relative;
    width: 33%;
    cursor: pointer;
    padding:0px 10px;
}

.grid-sizer {  
    width: 33%;   
}

img.firmaincredere{
 max-width: 95px;
}
@media screen and (max-width: 1224px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 33.33%; }
  .item2 { width: 33.33%; }
}

@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .item2 { width: 50%; }
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .item2 { width: 100%; }
}

.box-transports {
    float: left;
}
.img-fixed-tickete {
    position: fixed;
    z-index: 3;
    top: 26%;
    text-align: center;
    background-color: white;
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    .box-green {
        background-color: #009688;
        padding: 10px;
        p {
            color: white;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: bold;
            margin-bottom: 0;
            font-family: 'Roboto-Medium';
        }
    }
    img{
        max-width: 90px;
        display: block;
        box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
        margin: 15px auto;
        background-color: white;
    }
}
@media screen and (max-width: 1224px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 33.33%; }
  .item2 { width: 33.33%; }
}
span.icon-subscribe{
    margin-bottom: 0; 
    color: #F44336;
    position: relative;
    top: 7px;
    font-size: 31px;
}
@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .item2 { width: 50%; }
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .item2 { width: 100%; }
}

/* Slideshow style */
.slideshow {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.slideshow ul {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.slideshow ul.animatable li {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slideshow li {
    width: 660px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -330px;
    visibility: hidden;
}

.slideshow li.show {
    visibility: visible;
}

.slideshow li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.slideshow li.current:after {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 50px solid #fff;
    overflow: hidden;
}

.slideshow figcaption {
    padding-bottom: 20px;
}

.slideshow figcaption h3 {
    font-weight: 300;
    font-size: 200%;
}

/* Navigation */
.slideshow nav span {
    position: fixed;
    z-index: 1000;
    color: #59656c;
    text-align: center;
    padding: 3%;
    cursor: pointer;
    font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slideshow nav span.nav-next {
    right: 0;
}

.slideshow nav span.nav-close {
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    color: #31373a;
}

.inline-block {
    display: inline-block;
}

span.nav-prev:before {
    content: "\e601";
}

span.nav-next:before  {
    content: "\e600";
}

span.nav-close:before {
    content: "\e602";
}
.img-fixed{
    max-width: 120px;
    position: fixed;
    right: 0;
    z-index:999;
    top: 37%;
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
}
.box-transports{
   box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
}
/* Info on arrow key navigation */
.info-keys {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    font-size: 8px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.info-keys:before,
.info-keys:after {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

.info-keys:before {
    left: 10px;
    content: "\e603";
}

.info-keys:after {
    right: 10px;
    content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
    /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
    .grid li {
        width: 33.3%;
    }

    .slideshow li {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .slideshow li figure img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    .slideshow nav span,
    .slideshow nav span.nav-close {
        font-size: 1.8em;
        padding: 0.3em;
    }

    .info-keys {
        display: none;
    }

}

@media screen and (max-width: 35em) {
    .grid li {
        width: 50%;
    }
}

@media screen and (max-width: 24em) {
    .grid li {
        width: 100%;
    }
}


/*Despre noi page*/
.padd-7 {
    padding-left: 7px;
    padding-right: 7px; 
}
.section-about {
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    margin: 55px 0px; 
    p:first-child {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p.bold {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 0;
    }
    .lists-about {
        li {
          font-family: $base-font;
          font-size: 16px;
          color: #666666;
          line-height: 1.4285em;
        }
    }
    .align {
        padding-left: 30px;
        &.last { 
            padding-bottom: 15px;
            display: block; 
        }
    }
    .space-1 {
        background-image:url('/images/space-desk-workspace-coworking.jpg');
        width: 100%;
        height: 700px;
        background-position: center center;
        @media screen and (min-width: $desktop){
            height: 612px; 
        }
    }
      .tichete { 
        width: 100%;
        height: 700px;
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        @media screen and (min-width: $desktop){
            height: 330px; 
        }
        &.space-tichete1 {
           background-image:url('/images/edt.jpg');
        }
        &.space-tichete2 {
           background-image:url('/images/cdt.jpg');
        }
        &.space-tichete3 {
           background-image:url('/images/voucher-turis.jpg');
        } 
    }
}
.modal-about {
    padding: 10px;
    background-color: white;
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      border: 1px solid #F34235;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      transform: scale(1.01);
    }
} 
.news {
    .cover-middle {
        margin: 40px 0px 0px;
    }
    .panel-default {
        margin:0;
    }
    .panel-group .panel {
        margin-bottom: 10px;
    }
}
/*Contact*/
#map {
    height: 400px;
}
.contact {
    margin-top: 50px;
    .modal-content {
        text-align: left;
    }
    .box {
        box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
        padding: 0px 20px 20px 20px;
        &.box-details {
           ul li {
            display: block;
            font-size: 16px;
            color: #757575;
            margin-bottom: 20px;
                a {
                    color: #757575; 
                    &:hover, &:focus {
                        color:#FFAA3F;
                    }
                }
            }
        }
         &.box-form {
            h1 {
                margin-bottom: 0;
                margin-top: 0;
            }
            .small-p {
                font-size: 11px;
                font-family: $alternate-font;
                color: #cccccc;
            }
            label.error {
                color: #F44336;
                top:-4px;
            }
            label {
                color:#757575;
            }
            .input {
                width: 100%; 
                margin: 0;
            }
            form {
                margin-bottom: 0;
            }
            .input__field {
                background-color: transparent;
                margin-bottom: 3px;
                padding-left: 0px;
                margin-top: 20px;
                color: black;
                font-weight: bold;
                position: relative;
                z-index: 9;
                font-size: 13px;
            }
            .input__label-content{
                padding: 0;
            }
            .input__label {
                padding-left: 0;
                padding-right: 0;
            }
        }
        ul li.icons {
            display: inline-block;
            font-size: 35px;
            margin-right: 10px;
            padding-top: 30px;
            padding-bottom: 32px;
            span {
              color: #F44336; 
                &:hover {
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    color:#FFAA3F;
                } 
            }
        }
        .heading-small {
            font-family: $alternate-font-medium;
        }
        .icn {
            color: #cccccc;
            padding-right: 20px;
            font-size: 29px;
            position: relative;
            top:8px;
            &.icn2 {
              font-size: 20px;
              padding-left: 5px;
              top: 6px;
            }
        }
    }
}

/*Offers page*/
.box-offer {
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.area-slider {
    position: relative; 
    .box-photo {
        cursor:pointer;
        img {
            max-width: 100px;
            height: 100px;
        }
        .thumbnail {
            background-color: transparent;
            border-radius: none;
            border: none;
        }
    }
    .title-content {
        position: absolute;
        top: 0;
        padding: 30px 40px;
        width: 100%;
        .details-loc {
            text-shadow: 0px 0px 10px #000000;
            font-size: 14px;
            padding-right: 20px;
            font-family: 'Roboto-Bold';
             span {
                font-size: 35px;
                padding-right: 10px;
                top: 5px;
                position: relative;
             }
        }
        @media screen and (max-width: $screen-md){
            .details-loc {
                display: block;
                 span {
                    font-size: 20px;
                 }
            }
        }
        .title-h1 {
            font-family: 'Roboto-Black';
            font-size: 20px;
            text-shadow:  0px 0px 10px #757575; 
            text-transform: uppercase; 
        }
        .p-date {
            font-size: 18px;
            color: white;
            margin-bottom: 0;
            text-shadow:  0px 0px 10px #757575; 
            font-family: 'Roboto-Bold';
        }
    }
    .hide-bullets {
        text-align: center;
        position: relative;
        .carousel-control {
            width: auto;
            top: 35%;
            text-shadow: none;
            &.left{
                background-image: none;
                padding-left: 20px;
            }
            &.right{
                background-image: none;
                padding-right: 20px;
            }
            span {
                color: #636b6f;
                font-size: 20px;
            }
        }
    }
    .carousel-inner {
        position: relative;
        img {
            width: 100%;
            height: 450px;
        }
    }
    .item {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        max-height: 450px;
    }
    .right-content {
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0;
        padding: 145px 0px;
        .box-white {
            background-color: white;
            margin-bottom: 10px;
            &.red{
               background-color: #F44336;
               p {
                color: white;
               }
            }
            p {
                margin-bottom: 0;
                color: #F44336; 
                padding: 5px 15px;
                text-transform: uppercase;
            }
            
        }
    }
    .bottom-icons {
        top: -18px;
        position: relative;
        .icons { 
            margin: 0px auto;
            position: relative;
            text-align: center;
            .icon {
                font-size: 35px;
                background-color: #4CAF50;
                width: 45px;
                height: 45px;
                margin-right: 13px;

                &.blue {
                    background-color: #2196F3;
                }
            }
        }
        .yell-btn {
            background-color: #FF9800;
            text-transform: uppercase;
           // top: -10px;
            position: relative;
            a {
                padding: 10px;
                display: block;
                color: white;
                &:hover {
                    color: white;
                    &:active,
                    &:hover,
                    &:focus {
                        text-decoration: none;
                        outline: 0;
                        outline-offset: 0;
                    }
                }  
            }
        }
    }
}


.admin-home-offer {
    .inner-content-bottom{
        bottom: 140px;
    }
}
.inner-cazari{
    bottom: 140px; 
}
.main-page-home {
    .offer-price-section {
        .content-bottom {
            .price {  
                .prices {
                    .new-price {
                        font-size: 28px;
                    }
                    .initial-price {
                        font-size: 18px;
                    }
                    .discount {
                        font-size:12px;
                    }
                    .disctype {
                        font-size: 12px;
                    }
                }
            }
        }
   }
}
.initial-price-single {
    font-size: 19px;
    float: left;
}
    .offer-price-section {
        .content-bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 45px;
            .price {
                margin-bottom: 0;
                margin-left: 0;
                text-shadow:  0px 0px 10px #757575;
                font-family: 'Roboto-Bold';
                .prices {
                    width: 100%;
                    text-align: left;
                    .initial-price { 
                        font-size: 20px;
                        position: relative;
                        top: -15px;
                    }
                    .new-price {
                        font-size: 32px;
                    }
                    .discount {
                        font-size: 16px;
                        padding-top: 4px;
                    }
                    .disctype {
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
                @media screen and (max-width: $screen-md){
                    .prices {
                        .initial-price {
                            font-size: 15px;
                        }
                        .new-price {
                            font-size: 20px;
                            position: relative;
                            top: -6px;
                        }
                    }

                }
            }
            .padding {
                padding: 20px;
            }
        }
    }
.dropzone.dz-clickable.dz-started {
 //   height: 250px;
    overflx: hidden;  
}
.datepicker-switch {
    text-align: center;
}
.table-condensed {
    margin: 15px;
}
.section-off-period {
    .input-group-addon { 
        width: 40px;
        float: right;
        margin-top: -33px;
    }

}
.inner-options {
    li {
       font-family: $alternate-font-medium;
       color: #747474;
       font-size: 16px;
    }
    .icn {
        margin-right: 10px;
        font-size: 24px;
        position: relative;
        top: 5px;
    }
    .description-box {
        padding:30px;
        span.day-style {
           text-transform: uppercase;
           color: black;
           font-weight: bold;
           padding: 30px 0px;
           display: block;
        }
        td:last-child {
            width: 75px;
            display: block;
            padding: 33px 0px;
        }
        td:nth-child(2) {
            position: relative;
            top: 12px;
        }
        .tabs-offer {
            background-color: #9E9E9E;
            padding-left: 15px;
            padding-right: 15px;
            li {
                padding: 15px 20px;
                a {
                    text-transform: uppercase;
                    color: rgba(255,255,255,0.60);
                    font-family: 'Roboto-Medium';
                }
                &.active {
                    border-bottom: 2px solid #FFFF00;
                    a{
                        color: white;
                    }
                }
            }
        }
        .tab-pane {
            p {
                padding: 35px;
            }
        }
        #exTab1 {
            border: 1px solid #9E9E9E;
        }
        table {
            margin-bottom: 40px;
            tr {
                border-bottom: 1px solid #cccccc;
                border-top: 1px solid #cccccc;
            }
            th {
                width: 26%;
                font-size: 13px;
                padding: 20px 0px;
                text-align: left;
                color: rgba(55,55,55,0.54%);
            }
            td {
                padding: 20px 0px;
                text-align: left;
            }
            .col {
                color: #424242;
                font-weight: bold;
            }
            .col-tr {
                color: rgba(55,55,55,0.54%);
                font-weight: bold;
            }
        }
    }

}
.regular {
    font-family: $base-font;
    font-size: 14px;
}
.line-bottom {
    border-bottom: 1px solid #cccccc;
}

/*search*/
#range {
    height: 2px !important;
}
#range2 {
    height: 2px !important;
}
.noUi-handle:after{
    background: url('/images/Pin.svg');
    height: 0;
    background-repeat: no-repeat;
    width: 35px;
    height: 50px;
    top: -48px;
    left: -10px;
}
.noUi-handle:before {
    background: none;
}
.range-bar {
    margin-top: 70px;
    .noUi-connect {
       background-color: #F44336;  
    }
    .noUi-target {
        box-shadow: none;
        background-color: #cccccc;
        border:0px;
        box-shadow: none;
        width: 100% !important;
    }
    .noUi-handle {
        background: #F44336;  
        border-radius: 100px;
        box-shadow: none;
        border: none;
    }
    .noUi-tooltip {
       border: none;
       background: transparent;
    }
    .noUi-horizontal .noUi-handle {
        width: 13px; 
        height: 13px;
        left: -13px;
        top: -6px;
    }
    .noUi-tooltip {
        position: absolute;
        top: -41px;
        left: 0;
        right: 0;
        width: 45px;
        margin: 0px auto;
        margin-left: 7px;
        z-index: 3;
        color: white;
    }

}
.advanced {
    &.hero-forms {
        margin-bottom: 50px;
        .box-centered {
            box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28);
        }
        .search-red {
            background-color: #F44336;
            padding: 18px;
            p {
                margin-bottom: 0;
            }
        }
        .search-1{
            padding:30px 25px 0px;
        }
        .line-bottom-s{
          padding-top: 30px;
          border-bottom: 1px solid #cccccc;
        }
        .search-select{
            padding-bottom: 30px;
        }
    }
}
.confort-stele{
    text-align:left;
    padding-left: 40px;
}
button.stars {
    padding:0px 3px;
    background-color: transparent;
    border-radius: 50px;
    font-size: 14px;
    &.selected {
        background-color: #F44336; 
        width: 35px;
        height: 35px;
        span {
           color: white; 
        }
    }

}
.anuleaza{
    padding-bottom: 20px;
}
.transport-ui {
    .ui.toggle.checkbox label{
        font-size: 14px;
        padding-top: 0;
    }
    .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
        background-color: #E0E0E0;
        height: 10px;
        top: 3px;
        width: 33px;
    }
    .ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
        background: #BDBDBD;
    }
    .ui.toggle.checkbox input:checked ~ .box:after, .ui.toggle.checkbox input:checked ~ label:after {
        background:#F44336;
        left: 22px;
    }
    .ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label {
        color: #BDBDBD !important;
    }
}
.transport-ui { 
    .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
        background-color: #EF9A9A!important;
    }
    .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
       background-color: #EF9A9A!important;
    }
    .ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
        background-color: #EF9A9A!important;
    }
    .ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
        background-color: #EF9A9A!important;
    }
    .transport-ui .ui.toggle.checkbox input:checked ~ label::after {
        left: 27px;
        width: 17px;
        height: 17px;
    }
} 
.image img {
    position:absolute;
    padding-bottom: 10px;
    z-index: -1;
}

.image {
    height: 430px;
}

.modal-backdrop {
    position: relative;
    z-index: 99;
}
.modal-open .modal {
    background-color: rgba(55,55,55,0.7);
}
.tikets {
    .contact {
        .box{
            box-shadow: none;
        }
        .modal  {
            z-index: 999;
            position: relative;
        }
        .input__field {
            background-color: transparent;
            padding: 17px;
        }
        .small {
            font-size: 10px;
            position: relative;
            top:-2px;
            padding-bottom: 2px;
            display: block;
            color: #cccccc;
        }

        .modal-header {
           border-bottom: none;
        }
        .modal-footer {
            border-bottom: none;
        } 
        .modal-content {
            border-radius: 0px;
        }
        .right {
            float: right;
        }
        .box.box-form label.error {
            top:-4px;
            color: #F44336;
        }
        input[type="text"]:focus span.input__label-content{
            color:red !important;
        }
    }

}
.error-message, .error {
    padding: 10px 0px!important;
}
@media screen and (min-width: $screen-md) {
    .area-slider {
        .title-content {
            .title-h1 {
                font-size: 60px;
            }
            .p-date {
                font-size: 28px;
            }
        }
        .right-content {
            padding: 145px 0px 0px;
            .box-white {
                p {
                    padding: 10px 15px;
                }
                
            }
        }
        .carousel-inner {
            .content-bottom {
                .padding {
                    padding: 20px 40px;
                }
            }
        }
        .bottom-icons {
            top: -25px;
            .icons { 
                .icon {
                    font-size: 45px;
                }
            }
            .yell-btn {
              //  top: -3px;
                a {
                    padding: 15px;
                }
            }
        }
    }
    .transport-ui {
        max-width: 200px;
        float: right;
    }
    .range-bar {
        padding: 0px 10px;
    } 
    .advanced {
        &.hero-forms {
            padding: 0px 17px;
        }
    }
}
@media screen and (max-width: $screen-sm) {
    .img-fixed-tickete{
        display: none;
    }
    .img-fixed{
        display: none;
    }
}
@media screen and (max-width: $screen-md) {
    .cover-middle {
        .input-subscribe {
            button {
                float: right;
            }
        }
    }
    span.icon-subscribe {
        top: -37px;
        right: -24px;
        font-size: 25px;
    }
    .padd-7 {
        margin-bottom: 20px;
    }
    .modal-about { 
        text-align: center;
        margin: 0px auto;
        max-width: 300px;
    }
    .contact {
        .box {
            margin-bottom: 20px;
            .icn {
                float: left;
                display: inline-block;
                top: -3px;
                &.icn2 {
                    top:2px;
                }
            }
        }

    }
    .area-slider {
        .box-photo img {
            max-width: 50px;
            height: 50px;
        }
        .item {
            max-height: 300px;
        }
        .thumbnail {
            margin-bottom: 0;
        }
        .title-content {
            padding: 20px;
        }
        .right-content {
            .box-white {
                p {
                   font-size: 13px;
                }
                
            }
        }
    
        .hide-bullets {
            .carousel-control {
                top:-25%;
            }
        }
    }
    .inner-options {
        .center {
            text-align: left;
        }
        .icn {
            font-size: 18px;
            top: 1px;
            float: left;
            text-align: left;
            width: 30px;
        }
        .options {
            margin-top: 20px;
        }
        li {
            margin-bottom: 10px;
        }
        .description-box {
            .tabs-offer {
                padding :0;
                li {
                    margin-bottom: 0;
                    padding: 10px;
                    a {
                        font-size: 12px;
                    }
                }
            }
            table {
                width: 100%;
                thead {
                  display: none;
                  visibility: hidden;
                }
                th[data-title]:before,
                td[data-title]:before {
                  content: attr(data-title) "";
                  font-weight: bold;
                }
                td {
                    display: block;
                    padding: 15px 0px;
                }
            }
        }
    }
    .p-bott {
        padding-bottom: 20px;
    }
    .stars2 {
        padding: 20px 0px;
        &.center {
            text-align: left;
        }
    }
    .search-select {
        label {
            padding-top: 10px;
        }

    }
    .cs-skin-underline > span {
        font-size: 14px;
        padding: 10px 0px;
        width: 100%;
    }
    .offer-price-section .content-bottom .padding{
        padding: 0px 20px;
    }
} 

.show_hide {
    display:none;
}

.right-corder-container .right-corder-container-button {
    height: 46px;
    width: 46px;
    border:none;   
    transition: all 300ms;  
    cursor:pointer;
    @media screen and (min-width: $screen-md) {
    margin-right: 10px;
    }
    a {
        position: relative;
        line-height: 45px;
        color: white; 
        &:hover {
            color: white;
        }
    }
}
.right-corder-container .right-corder-container-button.right-corder-big:hover {
    width: 145px;
    border-radius: 0;
}
.right-corder-container .right-corder-container-button:hover {
    border-radius: 0 !important;
}
.right-corder-container {

    .right-corder-container-button {
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); 
          &.right-corder-big {
          width: 145px;
          background-color: #FFAA3F;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          &:hover {
            background-color: #F44336;
          }
            span {
                font-size: 16px; 
                padding: 10px;
                text-transform: uppercase;
                font-weight: normal;
                line-height: 18px;
            }
        }
    }
}


.right-corder-container .right-corder-container-button span {
    font-size: 44px;
    color: white;
    position: absolute;
    left: 1px;
    top: 5px;
    line-height: 28px;
}
.right-corder-container-button.blue {
    &:hover{
        background-color:  #2196F3;
    }
}
.right-corder-container-button.green-bg {
    background-color:  #4CAF50; 
    &:hover {
        background-color:  #4CAF50;
    }
}

.right-corder-container .right-corder-container-button:hover {
    transition: all 400ms cubic-bezier(.62,.1,.5,1);      
    width:175px;                                            
    border-top-right-radius: 5px;                           
    border-bottom-right-radius: 5px;                        
}


.right-corder-container .right-corder-container-button .long-text {
    transition: opacity 1000ms;
    opacity:0;                
    color:white;
    white-space: nowrap;      
    font-size: 0;             
    width: 0;                 
    margin:0;                 
}
.long-text { 
    a {
        &:hover {
            color: white !important;
        }
    }
}
.right-corder-container .right-corder-container-button .long-text.show-long-text{
  transition: opacity 700ms,
              width 1ms linear 270ms,      
              font-size 1ms linear 270ms;  
  opacity:1;
  margin-top: 2px;                           
  margin-left: 50px;                        
  font-size: 20px;                          
  width: auto;                              

}  

.box-transports {
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
    .trans-price {
        display: block;
        position: absolute;
        right:0;
        top:0;
        font-size: 24px;
        color: #757575;
        padding: 20px;
    }
}

.terms {
    padding-bottom: 30px;
    ul li{
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #666666;
        font-size: 16px;
        line-height: 20px;
    }
    .heading-small{
        padding-top: 0;
    }
    .section-about{
        padding-bottom: 20px;
    }
}
input.deleteTransport,
input.deleteNewsletter{
    font-size: 15px;
    padding: 7px;
    text-transform: uppercase;
}

.glyphicon-ok:before {
    content:"\e923";
    font-family: 'icomoon' !important;
}

.glyphicon-remove:before {
    content:"\e924";
    font-family: 'icomoon' !important;
}
@media screen and (max-width: $screen-sm){
    .right-corder-container .right-corder-container-button {
        width: 40px;
        height: 40px;
        span {
            font-size: 35px;
            top: 3px;
        }
    }
}
.period-offer {
    &.table-hotels {
        margin-left: 15px;
        margin-right: 15px;
        width: 97%;
        .tr-period { 
            td { 
                padding: 10px 0px;
                img {
                    height: 120px;
                    width: 100%;
                }  
            }
        }
    }
    &.border{
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        .tr-period {  
            td { 
                padding: 10px 10px;
            }
        }
        .right-tr {
            padding: 10px 10px;
        }

    }
    .modal-about:hover {
        border: 1px solid #cccccc;
    }
} 
.panel.panel-days {
    margin-top:20px;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
    label{
        width: 100%;
        cursor: pointer;
    }
    .icon-ArrowDown {
        float: right;
        color: #F44336; 
    }
    .panel-heading {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: $screen-sm){
    .period-offer {
        &.table-hotels {
           width: 90% !important; 
        }
    }
}
.modal-about {
    &.no-cursor {
        cursor: initial;
    }
}