
/*---------------*/
/***** Bubba *****/
/*---------------*/
.svg { 
    position: absolute; 
    left: 0;
    right: 0;
    width: 100%;
}

a.embed-link {display:inline-block;}
a.embed-link:after {content:""; position:absolute; top:0; left:0; bottom:0; right:0;}
.imageSVG {
	margin:0; 

}
figure.effect-bubba {
	background: black;
	height: 230px;
	@media screen and (max-width: $screen-md) {
		margin: 10px 0px;
	}
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	height: 100%;
	width: 100%;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	height: 100% !important;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	max-height: 395px;
	height: 400px;
	background: #009587;
	text-align: center;
	cursor: pointer;
	margin-bottom: 30px;
	img {
		position: relative; 
		display: block;
		min-height: 100%;
		max-width: 100%; 
		opacity: 0.9;
		width: 100%; 
	} 
	figcaption {
		padding: 120px 15px 0px 15px;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px; 
		-webkit-backface-visibility: hidden; 
		backface-visibility: hidden; 
	}
}
.grid figure figcaption::before,
.grid figure figcaption::after { 
	pointer-events: none;
} 

.grid figure figcaption, 
.grid figure figcaption > a { 
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
  
.grid figure p {
	letter-spacing: 1px;
	margin: 0;
}

figure.effect-julia {
	background: #000;
	-webkit-box-shadow: 0px -1px 18px -2px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px -1px 18px -2px rgba(0,0,0,0.28);
	box-shadow: 0px -1px 18px -2px rgba(0,0,0,0.28);
}

figure.effect-julia img {
	max-width: none;
	height: 100%;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width: auto;
	margin: 0px auto;
	text-align: center;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	display: inline-block;
	color: #fff;
	text-transform: none;
	font-weight: 500;
	font-size: 14px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
figure.effect-julia img{
 background-color: black;
}
figure.effect-julia:hover img {
	opacity: 0.3;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}


.inner-content {
	position: absolute;
	z-index: 1;
	padding: 10px 15px;
	width: 100%;
	h1 {
		font-size: 24px;
		font-family: 'Roboto-Bold';
		font-weight: bold;
		text-align: left;
		text-transform: uppercase;
		margin: 7px 0px;
		text-shadow: 0px 0px 8px #757575;
		a {
			color: white;
			&:hover {
               color: #F44336 !important; 
		    }
		}		

	}
 	p {
		text-align: left;
		margin-bottom: 0px;
		text-shadow: 0px 0px 6px #000000;

	}
	.transport {
		width: 100%;
		display: inline-block;
		padding-top: 10px;
		img {
			max-width: 35px;
			float: left;
			padding-right: 10px;
		}
		p {
			font-size: 12px;
			color:white;
			text-shadow: 0px 0px 6px #000000;
		}
	}
	.inner-right-text {
	    .right-text {	    
			right: 0;
		    position: absolute;
		    top: -1px;
		    margin-right: 11px;
		    -webkit-transform: rotate(46deg);
		    transform: rotate(0deg);
		    text-transform: uppercase;
		    color: #F44336;
		    font-weight: bold;
		    background-repeat: no-repeat;
		    padding: 47px;
		    background-image:url('/images/TipVacanta-01.png'); 
		    span {
		    	transform: rotate(43deg); 
			    position: relative;
			    position: absolute;
			    top: 20px;
			    right: 24px;
		    }
		}
    }
}
.inner-content-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	.price {
		font-size: 28px;   
		float: left;
		margin-left: 15px;
        margin-bottom: 46px;
        font-weight: bold;
        text-shadow: 0px 0px 8px #757575;
        font-family: 'Roboto-Bold'; 
	}
	.early {
	    background-image: url(/images/CategorieVacanta-01.png);
	    position: absolute;
	    z-index: 0;
	    right: 30px;
	    bottom: 29px;
	    float: right;
	    padding: 91px;
	    font-family: 'Roboto-Medium';
	    span {
	    	position: absolute;
		    top: 101px;
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    font-size: 18px;
		    width: 100%;
		    text-align: center;
		    left: 13px;
		    right: 0px;
		    text-transform: uppercase;  
		    color: #F44336;
	    }
	}  
} 
.cover-middle {
	background-image: url(/images/middle-cover.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	padding: 100px 0px;
	background-size: cover;
	margin: 50px 0px 70px;
	&.cover-last {
    	background-image: url(/images/person-beach-holiday-vacation.jpg);
    	margin: 70px 0px 0px;
    	.insta-cols {
    		padding-top:30px;
	    	.insta-col {
	    		img {
					width: 100%;
					height:200px; 
				}
	    		@media screen and(min-width: $screen-md){
	    			img {
		    			height:190px; 
		    	    }
	    	    }
	    		-webkit-box-shadow: -1px 0px 11px -3px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px 0px 11px -3px rgba(0,0,0,0.75);
				box-shadow: -1px 0px 11px -3px rgba(0,0,0,0.75);
	    	}
        }
	}
	.inner-middle-content {
		z-index:1;
		position:relative;
		p {
		  text-shadow: 0px 0px 6px #757575;
		}
	}
	span {
		font-size: 40px;
		margin-bottom: 25px;
		display: block;
	}
	h2,h3 {
		font-weight: bold;
        text-shadow: 0px 0px 6px #757575;
        margin-bottom: 10px;
        font-family: 'Roboto-Black';
	}
	.input-subscribe { 
		    max-width: 500px;
			margin: 0px auto;
			position: relative;
			input{
				border: 1px solid white;
				width: 100%;
				padding: 0px 15px !important;
				background-color: white !important;
				height: 48px;
			}
		
	    input[type=text].error {
	   		text-align: left;
	    }

	    .error {
	   		text-align: center;
	    }
		button {
			padding: 0;
		    width: 30px;
		    background-color: transparent;
		    right: 0;
		    position: absolute;
		    top: 13px;
		    color: #F44336;
		}
    }
}
span.icon-subscribe {
    top: 0px;
    font-size: 23px;
}
.inner-albums {
	img {
		max-width: 270px;
	    height: 200px;
	    width: 100%;
	}
	.col-sm-wide {
		.col-sm-cover{
			height: 400px;
		    background-size: 270px 400px;
		    background-position: center right;
		    background-repeat: no-repeat;
		}
	}
	.button-upload {
		position: absolute;
	    top: 43%;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    margin: 0px auto;
	    text-align: center;
	    z-index: 2;
	    button {
	    	background-color: #F44336;
	    	padding: 15px;
	    	border-radius: 100px;
	    }
	    span {
	    	font-size: 22px; 
	    }
	}
	.albums {
		&:hover button{
			background-color: #FFAA3F;
			-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	        transform: scale(1.2);
		}
    }
}
.padding-head {
	padding: 60px 0px 50px;
} 
.inner-part {
    box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.28); 
    background-color: white;
    .inner-first {
    	li { 
    		max-width: 115px; 
        }
    }
    .inner-second {
    	li {
    		max-width: 105px; 
        }
        &.middle {
        	padding: 25px 0px;
        }
    }
    .centered {
        margin: 0px auto;
        text-align: center;
    }
}
.inner-albums {
	padding-top: 40px;
}
@media screen and (max-width: 998px) {
	.grid.insta-cols figure{
		max-width: 350px;
		float: none; 
        margin: 10px auto;
	}
	.cover-middle.cover-last .insta-cols .insta-col {
		box-shadow: none;
	}
}
@media screen and(max-width: $screen-md) {
	.inner-content-bottom {
		.early {
			bottom: 13px;
			padding: 85px;
			span {
				font-size: 16px;
				top: 100px;	
				left: 22px;
			}
		}
	}
	.cover-middle {
		margin: 20px 0px 35px;
		padding: 65px 0px;
		&.cover-last {
			margin: 30px 0px 0px;
		}
	}
	.padding-head {
		padding: 40px 0px 30px;
    }
    .inner-albums {
		padding-top: 30px;
	}
}
@media screen and(max-width: $screen-sm) {
	.inner-albums {
		.albums{
			margin-bottom: 20px;
		}
		img {
			max-width: 50%;
			float: left;
		}
	    .col-sm-wide {
		   .col-sm-cover {
             background-size: cover;
		   }
	    }
	}
	.cover-middle {
		.input-subscribe { 
			input {
				height: 38px;
			}
			button { 
			   top:13px;
			}
	    }

    }
    .inner-content .inner-right-text .right-text {
	    top: 9px;  
	}
}
.ui.toggle.checkbox{
	min-height: 25px;
}

.filed-search-index {
	background-color: white !important;
	font-size: 14px;
	&.error {
	    padding: 14px 20px !important;
	}
}