.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -3px;
    margin-right: -3px;
    width: 136px; 
}
.list-group-item {
    border: none;
}
.list-group {
    margin-bottom: 0;
}
.group-menu {
 box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
 background-color: white;
    @media screen and (max-width: $screen-md) {
        background-color: rgba(255,255,255, 0.3);
        box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
        max-width: 500px;
        margin: 0px auto;
        margin-bottom: 20px;
        padding: 15px;
        li a {  
            background-color: transparent;
            font-size: 13px;
            color: #ffffff;
            &:hover {
                background-color: transparent;
                border-bottom: 1px solid white;
                color: white;
            }
        }
        .dropdown-menu  {
            position: relative;
            width: 100%;
            float: none;
            li a {
                color: #F44336;
                font-size: 13px !important;
            }
       
        }
        button.btn-inner-menu {
            margin-top: 10px;
            .caret {
                top: 8px;
                color: white;
            }
        }
    }
    button.btn-inner-menu:hover,
    button.btn-inner-menu:focus {
        background-color: transparent;
    }
}
.menu-width {  
    max-width: 174px;
    float: left;
}
.list-group-item:last-child {
    border: none;
    border-radius:0px;
}
.list-group-item:first-child {
     border: none;
     border-radius: 0px;
}
.dropdown.dropdown-offer.open {
    button {
        &:focus,
        &:active {
            background-color: #F44336;
        }
    }
    ul.dropdown-menu {
        li a {
            color: #666666 !important; 
        }
    }
}
.navbar-collapse.collapse {
    ul.nav.navbar-nav li a {
        font-family: 'Roboto-Medium'; 
        color: rgba(255, 255, 255, 0.70);
    }

    ul.nav.navbar-nav li.curent__item a{
        color: white; 
    }
}
@media screen and (min-width: 990px) and (max-width: 1200px) { 
    .list-group-horizontal .list-group-item {       
       width: 101px;
       font-size: 12px;
    }
    
    button.btn-inner-menu {
        width: 100%;
    }
}

@media screen and (max-width: $screen-md) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
        ul.nav.navbar-nav li a {
            font-family: 'Roboto-Medium'; 
        }
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        overflow-y: hidden !important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.menu-all{
    position: relative;
    z-index:2;
}
/*--Menu main--*/
.inner-cover-menu {
    background-image: url('/images/menu-cover.jpg');  
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    position: relative;
    margin-bottom: 80px;
    form {
        margin-bottom: 7px;
    }
    .navbar-toggle {
        z-index:13; 
        background-color: rgba(255,255,255,0.5);
        padding: 7px;
        margin: 15px;
        .icon-bar {
            background-color: #F34235;
        }
    } 
    .navbar {
        margin-bottom: 0px;
    }
    .main-menu {
        padding-top: 30px;
        li { 
           padding: 0px 10px; 
            a {
                color: white; 
                text-transform: uppercase;
                font-size: 16px;
                font-family: 'Roboto-Medium';
                &:hover {
                   border-bottom: 2px solid #FFAA3F;
                   padding-bottom: 2px;
                   text-decoration: none;
                }
                &:focus,
                &:active {
                    text-decoration: none;
                }
            }
            a.curent__item__hero {
                border-bottom: 2px solid #FFAA3F;
                padding-bottom: 2px;
                text-decoration: none; 
            } 
        }
        ul li {
            display: block;
        }
    } 
    .inner-logo-brand {
        max-width: 303px;
        margin: 0px auto; 
        padding-bottom: 20px;
        padding-top: 0px;
        height: 150px;
        position: relative;
    }
    .logo-small {
        display: none;
    }
    .dropdown-menu{
        li {    
            display: inline-block;
            width: 100%;
        }
        a {
            padding: 7px 11px 7px;
            width: 100%;
            font-size: 13px;

        }
    }
}
.gradient {
    background-color: rgba(183, 141, 80, 0.70);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDA5NTg3IiBzdG9wLW9wYWNpdHk9IjAuNDkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmFhM2YiIHN0b3Atb3BhY2l0eT0iMC40OSIgb2Zmc2V0PSIwLjU0NiIvPjxzdG9wIHN0b3AtY29sb3I9IiNmMzQyMzUiIHN0b3Atb3BhY2l0eT0iMC43IiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgba(0, 149, 135, 0.49)),color-stop(0.546, rgba(255, 170, 63, 0.49)),color-stop(1, rgba(243, 66, 53, 0.7)));
    background-image: -webkit-repeating-linear-gradient(right,rgba(0, 149, 135, 0.49) 0%,rgba(255, 170, 63, 0.49) 54.6%,rgba(243, 66, 53, 0.7) 100%);
    background-image: repeating-linear-gradient(to left,rgba(0, 149, 135, 0.49) 0%,rgba(255, 170, 63, 0.49) 54.6%,rgba(243, 66, 53, 0.7) 100%);
    background-image: -ms-repeating-linear-gradient(right,rgba(0, 149, 135, 0.49) 0%,rgba(255, 170, 63, 0.49) 54.6%,rgba(243, 66, 53, 0.7) 100%);
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 100%;
}
ul.dropdown-menu li.logout a:hover {
  background-color: white; 
  color: #999999;
}
@media screen and (min-width: $screen-md) {
.nav-categories {
.first-early { 
    width: 175px; 
    margin-left: -2px;
}
    ul {
        width: 100%;
        padding: 0; 
        text-align: center; 

        li a {
            text-transform: uppercase;
            font-family: $alternate-font-medium;
            line-height: 21px;
            color: #757575;
            transition: all 0.5s ease; 
            &:hover {
                background-color: #F44336;
                color: white;
                transition: all 0.5s ease;
                text-decoration: none;
            }
        }
   }
    &.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .navbar-header {
        background-color: white;
        -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
    }
}

@media screen and (min-width: $screen-sm) { 
    .inner-cover-menu {
        .main-menu {
            padding-top: 47px;
            .main-left {
               float: left;
               width: 50%;
               text-align: left;
            }
            .main-right {
                float: left;
                width: 50%;
                text-align: right;
                padding-right: 40px;
            }
            ul li {
                display: inline-block;
            }
        }
        .inner-logo-brand {
            padding-bottom: 40px;
            padding-top: 20px;
        }
         
    }
}
    .nav-categories {
        ul {
            li a {
                padding: 16px 7px; 
                font-size: 14px;
            }
        } 
        .navbar-header {
            float: none;
            position: relative;
            top:25px; 
            .caret{
                margin-left: -9px;
                color: white;
            }
        }
    }
}
@media screen and (min-width: $screen-md) { 
    .nav-categories {
        ul {
            li a {
                padding: 15px 10px;  
                font-size: 13px;
            }
            &.group-menu {
                margin:-26px auto;
                top: 30px;
                position: relative;
            }
        }
    }
}
@media screen and (min-width: $desktop) { 
    .nav-categories {
        ul {
            li a {
                font-size: 16px;
                display: inline-block;
            }
        }
    }
}
@media screen and (max-width: $screen-md){
    .inner-cover-menu {
        margin-bottom: 20px;
        .main-menu {
            ul {
                margin-bottom: 0;
                text-align: center;
                li{
                    padding-bottom: 10px;
                }
            }
        }
        .logo-small {
            display: block;
            width: 65px;
            float: left;
            padding: 10px;
            z-index: 1;
            position: relative;
        }
        .inner-logo-brand {
            max-width: 200px;
        }
    }
    .nav-categories {
        .navbar-header {
           ul li {
            display: block;
            text-align: center;
                a {
                    text-transform: uppercase;               
                    padding-bottom: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    .field-container {
        padding-bottom: 0;
    }
    .list-group-horizontal .list-group-item {
        width: auto;
    }
    .inner-logo-brand {
        display: none;
    }
}
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3f34235",endColorstr="#7d009587",GradientType=1);
    }
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0px;
    width: 255px;
    margin: 0;
    padding: 0;
    list-style: none;
    .icon-menu {    
           font-size: 17px;    
           position: relative;
           top:1px;
           padding: 0px 20px 0px 10px;  
    }
    li a {
        display: block;
        text-decoration: none;
        color: #999999;
        font-size: 13px;
        &:hover {
            text-decoration: none;
            color: #F44336;
            background: white;
        }
        &.dropdown-toggle {
            color:#F44336;
            font-size: 17px;
        } 
    }

    .navbar-right {
        float: none;
        margin-right: 0;
        width: 100%;
    } 
}

.menu-outer {
    position: fixed;
    top: 0;
    z-index: 1;
    @media screen and (min-width: $desktop-lg){
        margin-left:150px;  
    }

    .list-inline {
        margin-left: -25px;
        li {
            display:inline-block;
            padding: 5px 0px;
            text-transform: uppercase;
            &.curent__item {
                border-bottom: 3px solid yellow;
                margin-top: 0px;
                a {
                    color: white;
                }
            }
            a {
                color: white;
                padding: 18px 15px;
            }
             @media screen and (min-width: $screen-md) {
                a {
            
                    padding: 18px 15px;
                }
            }
            @media screen and (min-width: $desktop-lg) {
                a {
                    padding: 18px 25px;
                }
            }
        }
        .nav > li > a:hover,
        .nav > li > a:active,
        .nav > li > a:focus{
            background-color: transparent;
        }
    }
}
.admin {
    &.icon-Edit {
        font-size: 17px;
        color: #999999;
        &:before {
            padding: 25px;
        }
    }
    p {
        display: inline-block;
        margin-bottom: 0;
        font-size: 13px;
    }
}
ul li.curent__item_red a {
    color: white;
    background-color: #F44336;
}

ul.dropdown-menu li a{
    background-color: #ffffff ;
    color:#555;
    text-align: left;
    &:hover { 
        color: white;
        background-color: #F44336;
    }
}

.inner-menu-wrap {
    .nav {
        a.dropdown-toggle {
            margin-left: 65px; 
            text-transform: capitalize;
            font-weight: bold;
            border-bottom: 1px solid #cccccc;
            padding: 10px 0px;
        }
    }
}
@media screen and(max-width: $screen-md){
    .toggled {
        #sidebar-wrapper {
            display: none;
        }
    }
}
@media screen and (max-width: $screen-xs) {
    .menu-outer {
        .list-inline {
            li a {
              font-size: 13px;
              padding: 8px;
            }
        }
    }

    #sidebar-wrapper {
         width: 220px; 
         .sidebar-nav {
            width: 220px;
         }
    }
} 